weakassdev.test {
  tls /usr/local/etc/caddy/certs/weakassdev.test+1.pem /usr/local/etc/caddy/certs/weakassdev.test+1-key.pem
  reverse_proxy apps:{$APP_PORT}
}

api.weakassdev.test:443 {
  tls /usr/local/etc/caddy/certs/weakassdev.test+1.pem /usr/local/etc/caddy/certs/weakassdev.test+1-key.pem

  route /ws {
    reverse_proxy apps:8080
  }
  reverse_proxy apps:{$PORT}
}
