# Build artifacts
.turbo
dist
.solid
.output
.yarn
yarn-error.log

# Environment
.env
.env*.local

# dependencies
node_modules

# codegen
styled-system
styled-system-static

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# Temp
gitignore
temp
tmp

# System Files
.DS_Store
Thumbs.db
