# Build artifacts
.turbo
dist
.solid
.output
.yarn/cache
.yarn/install-state.gz
yarn-error.log

# Environment
.env
apps/api/.env.test
.env*.local

# dependencies
node_modules

# codegen
styled-system
styled-system-static
docker/certs

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# Temp
gitignore
temp
tmp

# System Files
.DS_Store
Thumbs.db
